

img {
    width: 10%;
    height: 10%;
    float: left;
}
.header__nav{
    display: grid;
    height: auto;
    grid-auto-flow: column;
    grid-gap: 20 px;
}

.footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: white;

}

